  - name: Get rule
    panos_security_rule_facts:
      provider: '{{ provider }}'
      rule_name: "{{ rule_policy.policy_name }}"
    register: rule
    ignore_errors: yes

  - name: set source name
    set_fact:
      source_name: "{{ source_name + [item.source_name] }}"
    loop: "{{ policy.list }}"
    vars:
      source_name: []
    when: ((item.source_ip != "") and ( rule_policy.policy_name == item.policy_name)) and (rule is failed)

  - name: set destination ip
    set_fact:
      destination_name: "{{ destination_name + [item.destination_name] }}"
    loop: "{{ policy.list }}"
    vars:
      destination_name: []
    when: ((item.destination_ip != "") and (rule_policy.policy_name == item.policy_name)) and (rule is failed)

  - name: Create Policy and add Address or Address Group into policy
    panos_security_rule:
      provider: "{{ provider }}"
      device_group: "shared"
      rule_name: "{{ rule_policy.policy_name }}"
      source_zone: "any"
      source_ip: "{{ source_name  }}"
      destination_zone: "any"
      destination_ip: "{{ destination_name }}"
      action: "allow"
      service: "application-default"
    when: rule is failed