  - set_fact:
       service_list: "{{ rule_service.service.split(',\n') }}"
       service_list_type: "{{ rule_service.service_type }}"
    # loop: "{{ policy.list }}"
    when: (rule_service.service != "")
  
  - set_fact:
      service_name: "{{ service_name + [service_list_type+'-'+item] }}"
    loop: "{{ service_list }}"
    vars:
      service_name: []
    when: service_list_type+'-'+item not in service_list_type+'-'+item
  
  - name: Create service object
    panos_service_object:
      provider: '{{ provider }}'
      name: "{{ service_list_type }}-{{ item }}"
      destination_port: "{{ item }}"
      protocol: "{{ service_list_type }}"
    loop: "{{ service_list }}"