- set_fact:
    s_ip: ["{{ source_ip.split(',') }}"]
    d_ip: ["{{ destination_ip.split(',') }}"]


- name: Create Policy and add Address or Address Group into policy
  panos_security_rule:
    provider:
        api_key: "{{ auth.api_key }}"
        ip_address: "{{ ip_address }}"
    device_group: "{{ device_group | default('shared')}}"
    rule_name: "{{ rule_name }}"
    source_zone: ["{{ source_zone | default('any')}}"]
    source_ip: ["{{ s_ip | default('any')}}"]
    destination_zone: ["{{ destination_zone | default('any')}}"]
    destination_ip: ["{{ d_ip | default('any')}}"]
    application: ["{{ application | default('any')}}"]
    action: "{{ action }}"