- name: high-availability state
  panos_op:
    provider:
      api_key: "{{ auth.api_key }}"
      ip_address: "{{ ip_address }}"
    cmd: "show high-availability state"
    register: ha

- debug:
    var: ha