- name: high-availability state
  panos_op:
    provider:
      api_key: "{{ auth.api_key }}"
      ip_address: "{{ ip_address }}"
    cmd: "show high-availability state"
  register: ha_report

- set_fact:
    ha: "{{ ha_report.stdout }}"

- name: Template a file to /root/paloalto/ha_report.csv
  template:
    src: ha_report.csv.j2
    dest: /tmp/ha_report.csv