- name: high-availability state
  panos_op:
    provider: 
      ip_address: "{{ ip_address }}"
      username: "{{ username }}"
      password: "{{ password }}"
    cmd: "show high-availability state"
  register: ha_report

- set_fact:
    ha: "{{ ha_report.stdout }}"

- name: Template a file to /root/paloalto/ha_report.csv
  template:
    src: ha_report.csv.j2
    dest: /tmp/ha_report.csv

# - name: Sent file to email
#   mail:
#     host: smtp.office365.com
#     port: 587
#     username: dew_95531@windowslive.com
#     password: kittitat@95531
#     from: dew_95531@windowslive.com
#     secure: starttls
#     to: kittitat.p@g-able.com
#     subject: HA Status
#     attach:
#       - /tmp/ha_report.csv